@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
}
.container{
    width: 90%;
    height: 500px;
    background-color: hsl(244, 38%, 16%);
    margin: 60px auto;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:767px){
    .container{
        flex-direction: column-reverse;
        height: 90vh;
        margin: 20px auto;
    }
}

.container .info{
    width: 48%;
    padding-left: 50px;
}
@media (max-width:767px){
    .container .info{
        width: 90%;
        height: 60%;
        padding: 0;
        text-align: center;
}
}
.container .info h1{
    color: #fff;
    margin-bottom: 15px;
}.container .info h1 span{
    color: hsl(277, 64%, 61%);
}
.container .info p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
    margin-bottom: 15px;
}
.container .info .boxs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
@media (max-width:767px){
    .container .info .boxs{
        flex-direction: column;
}
}
.container .info .box p:first-child{
    color: #fff;
    font-weight:bold;
    margin-bottom: 2px
    
}
.container .info .box p:last-child{
    
    text-transform: uppercase;
}
.container .image{
    width: 48%;
    height: 100%;
    background-image: url(./images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
@media (max-width:767px){
    .container .image{
       width: 100%;
       height: 35%;
       background-image: url(./images/image-header-mobile.jpg);
       border-bottom-right-radius: 0;
       border-top-left-radius: 12px;
}
}
.container .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: hsla(277, 64%, 61%, 50% );;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

}
@media (max-width:767px){
    .container .image::before{

       border-bottom-right-radius: 0;
       border-top-left-radius: 12px;
}
}